In [33]:
import pandas as pd

Processamento de dados:

In [34]:
# Tratando informações da tabela de todos os Leads 
df1 = pd.read_csv('olist_marketing_qualified_leads_dataset.csv', sep = ',')

In [35]:
# Tratando informações da tabela de acordos firmados 
df2 = pd.read_csv('olist_closed_deals_dataset.csv', sep = ',')

In [37]:
# Criando a coluna 'is_closed' na tabela de acodos fechados/firmados
df2['is_closed'] = True

- Criar tabela com todos os MQLs, com todas as informações disponíveis para cada um.

In [15]:
# Criando a tabela com todas as informações disponíveis
tabela_mqls = pd.merge(df1, df2, how='left', on='mql_id')

- Criar uma coluna com quais MQLs fecharam acordo e quais foram perdidos.

In [16]:
# Tratando NaN na coluna de 'is_closed' (True = Acordo Fechado / False = Acordo Perdido)
tabela_mqls['is_closed'] = tabela_mqls['is_closed'].fillna(False)
tabela_mqls.head(5)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,is_closed
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,True

Perguntas a serem respondidas:
- Qual foi a taxa de conversão total?

In [27]:
#Total de Leads
total_leads = tabela_mqls.is_closed.count()
total_leads

8000

In [28]:
#quantidade de linhas NÃO nulas - Acordos fechados
closed_deal = tabela_mqls.is_closed.sum()
closed_deal

842

In [38]:
tx_conv_total = closed_deal / total_leads
print("A taxa de conversão total foi de:", '{0:.3%}'.format(tx_conv_total))

A taxa de conversão total foi de: 10.525%

- Qual foi a taxa de conversão de cada origem?

In [48]:
# column = origin
total_leads_origem = tabela_mqls[['origin', 'is_closed']].groupby('origin', as_index=False).count() 
total_conversao =tabela_mqls[['origin', 'is_closed']].groupby('origin', as_index=True).sum()
taxa = total_conversao/total_leads

conversao_por_origem = {'Total de Leads': total_leads_origem, 'Convertidos': total_conversao, 'Taxa de Conversão': taxa}
conversao_por_origem

tabela_mqls.pivot_table(columns='origin', values=)

KeyError: 'taxa'

- Qual foi a taxa de conversão de cada página inicial?

In [63]:
# column = landing_page_id

- Para cada SR, qual a receita média declarada dos leads?

In [64]:
df3.groupby('sr_id')['declared_monthly_revenue'].mean().sort_values(ascending=False).to_frame("receita_media")

                                  receita_media
sr_id
4ef15afb4b2723d8f3d81e51ec7afefe  377293.233083
de63de0d10a6012430098db33c679b0b  151415.094340
9749123c950bf8363ace42cb1c2d0815  103571.428571
9d12ef1a7eca3ec58c545c678af7869c   43333.333333
4b339f9567d060bcea4f5136b9f5949e   27777.777778
a8387c01a09e99ce014107505b92388c   24038.692308
34d40cdaf94010a1d05b0d6212f9e909   19000.000000
56bf83c4bb35763a51c2baab501b4c67   12500.000000
6aa3b86a83d784b05f0e37e26b20860d    8000.000000
068066e24f0c643eb1d089c7dd20cd73    7037.037037
495d4e95a8cf8bbf8b432b612a2aa328    6666.666667
0a0fb2b07d841f84fb6714e35c723075    6000.000000
d3d1e91a157ea7f90548eef82f1955e3    4939.024390
2695de1affa7750089c0455f8ce27021    1694.915254
85fc447d336637ba1df43e793199fbc8    1562.500000
b90f87164b5f8c2cfa5c8572834dbe3f       0.000000
c638112b43f1d1b86dcabb0da720c901       0.000000
060c0a26f19f4d66b42e0d8796688490       0.000000
9e4d1098a3b0f5da39b0bc48f9876645       0.000000
9ae085775a198122c5586fa830ff7f2b       0.000000
6565aa9ce3178a5caf6171827af3a9ba       0.000000
fbf4aef3f6915dc0c3c97d6812522f6a       0.000000

- Para cada SR, quantos de cada business_type a pessoa converteu?

In [65]:
df3.groupby(['sr_id','business_type']).agg({'business_type': 'count'})

                                                business_type
sr_id                            business_type
060c0a26f19f4d66b42e0d8796688490 manufacturer               9
                                 reseller                  23
068066e24f0c643eb1d089c7dd20cd73 manufacturer               6
                                 reseller                  21
0a0fb2b07d841f84fb6714e35c723075 other                      1
2695de1affa7750089c0455f8ce27021 manufacturer              16
                                 reseller                  42
34d40cdaf94010a1d05b0d6212f9e909 manufacturer               1
                                 other                      1
                                 reseller                   8
495d4e95a8cf8bbf8b432b612a2aa328 manufacturer              14
                                 reseller                  47
4b339f9567d060bcea4f5136b9f5949e manufacturer               2
                                 reseller                   6
4ef15afb4b2723d8f3d81e51ec7afefe manufacturer              43
                                 reseller                  90
56bf83c4bb35763a51c2baab501b4c67 manufacturer               8
                                 reseller                  16
6565aa9ce3178a5caf6171827af3a9ba manufacturer              19
                                 reseller                  54
6aa3b86a83d784b05f0e37e26b20860d reseller                   1
85fc447d336637ba1df43e793199fbc8 manufacturer              25
                                 reseller                  39
9749123c950bf8363ace42cb1c2d0815 manufacturer               2
                                 reseller                   5
9ae085775a198122c5586fa830ff7f2b manufacturer              15
                                 reseller                  36
9d12ef1a7eca3ec58c545c678af7869c manufacturer               2
                                 reseller                   4
9e4d1098a3b0f5da39b0bc48f9876645 manufacturer              10
                                 reseller                  14
a8387c01a09e99ce014107505b92388c manufacturer               4
                                 other                      1
                                 reseller                  21
b90f87164b5f8c2cfa5c8572834dbe3f reseller                   1
c638112b43f1d1b86dcabb0da720c901 manufacturer              12
                                 reseller                  22
d3d1e91a157ea7f90548eef82f1955e3 manufacturer              19
                                 reseller                  61
de63de0d10a6012430098db33c679b0b manufacturer              12
                                 reseller                  40
fbf4aef3f6915dc0c3c97d6812522f6a manufacturer              23
                                 reseller                  36

- Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?

In [66]:
df3.groupby(['sr_id','lead_behaviour_profile']).agg({'lead_behaviour_profile': 'count'})

                                                         lead_behaviour_profile
sr_id                            lead_behaviour_profile
060c0a26f19f4d66b42e0d8796688490 cat                                         15
                                 eagle                                        2
                                 shark                                        1
                                 wolf                                         6
068066e24f0c643eb1d089c7dd20cd73 cat                                         11
...                                                                         ...
de63de0d10a6012430098db33c679b0b wolf                                         5
fbf4aef3f6915dc0c3c97d6812522f6a cat                                         30
                                 eagle                                        9
                                 shark                                        2
                                 wolf                                         2

[80 rows x 1 columns]

- Para cada SR, quantos de cada lead_type a pessoa converteu?

In [67]:
df3.groupby(['sr_id','lead_type']).agg({'lead_type': 'count'})

                                                  lead_type
sr_id                            lead_type
060c0a26f19f4d66b42e0d8796688490 industry                 8
                                 offline                  1
                                 online_beginner          3
                                 online_big               2
                                 online_medium           15
...                                                     ...
fbf4aef3f6915dc0c3c97d6812522f6a online_beginner          1
                                 online_big               8
                                 online_medium           30
                                 online_small             6
                                 online_top               2

[118 rows x 1 columns]